<div>
	<p>
		<strong>Offer Name:</strong>
		<%= @offer.title %>
	</p>
</div>

<div>
	<p>
		<strong>Offer Description:</strong>
		<%= @offer.description %>
	</p>
</div>


<div>
	<p>
		<strong>Offer Expires On:</strong>
		<%= @offer.offer_expires_on %>
	</p>
</div>


<div>
	<p>
		<strong>Offer Expires On:</strong>
		<%= @offer.offer_rules %>
	</p>
</div>
<%= link_to 'Back', offers_path %>
